# 设置默认生成的log对象名称
lombok.log.fieldname=log

# 指明lombok的根目录为当前配置文件所在目录(默认false)
# 配置文件是分层的，原则是接近源文件的配置设置优先。在根目录的子目录中可以创建lombok.config配置文件，来覆盖根目录的配置文件（只覆盖配置项相同的配置，其他继承根目录的配置，若没有显式配置则使用默认值）
config.stopBubbling = true
# When generating toString for classes that extend something (other than Object), either automatically take into account superclass implementation (call), or don't (skip), or warn and don't (warn). (default = warn).
#lombok.toString.callSuper = CALL

lombok.equalsandhashcode.callsuper = CALL